---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Manifest from "../components/Manifest.astro";
---

<Layout
	title="Legalization is the only solution!"
	description="Legalization is the only solution! Come to a large public demonstration on September 30 and state your position on the Government's failed prohibition policy."
	keywords="Pusher Street, Christiania, decriminalize cannabis, gang crime"
	lang="en">
	<main class="main">
		<Logo/>

		<h1 class="legaliser-heading">Legalization!</h1>
		<article aria-label="manifest">
			<h2>Come to a large public demonstration on September 30, 12 noon from the Grey Hall, Christiania</h2>
			<Manifest lang="en" />
		</article>
	</main>
</Layout>
