---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Manifest from "../components/Manifest.astro";
---

<Layout
	title="LEGALISER"
	description="Legalisering er den eneste løsning! KOM TIL FOLKEDEMO LØRDAG D. 30 SEPTEMBER KL 12 fra Den Grå Hal"
	keywords="legaliser cannabis, Pusher Street, Christiania, afkriminalisere cannabis, bandekriminalitet, positivt hashmarkedet"
	lang="da">
	<main class="main">
		<Logo/>
		<h1 class="legaliser-heading">LEGALISÉR</h1>
		<article aria-label="manifest">
			<h2>Kom til folkedemo lørdag den 30. september klokken 12 fra Den Grå Hal, Christiania</h2>
			<Manifest lang="da" />
		</article>
	</main>
</Layout>
