---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Manifest from "../components/Manifest.astro";
---

<Layout
	title="LEGALISER"
	description="Legalisering er den eneste løsning! KOM TIL FOLKEDEMO LØRDAG D. 30 SEPTEMBER"
	keywords="Pusher Street, Christiania, afkriminalisere cannabis, bandekriminalitet, positivt hashmarkedet">
	<main class="main">
		<Logo/>

		<h1 class="legaliser-heading">LEGALISÉR</h1>
		<article aria-label="manifest">
			<h2>Kom til folkedemo lørdag den 30. september klokken 12</h2>
			<Manifest/>
		</article>
	</main>
</Layout>

<style>
	h1 {
		margin-bottom: 0;

		font-family: "Gill sans extra bold condensed";
		font-size: 7em;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
	@media screen and (min-width: 400px) {
		h1 {
			margin-bottom: 5vw;
		}
	}
	h2 {
		font-size: 1.4em;
		text-transform: uppercase;
        letter-spacing: 0.1em;
    }
	.legaliser-heading {
		text-indent: -5000rem;
		background: url("/legaliser.svg") no-repeat center;
	}
</style>
