<p>Legalisering er den eneste løsning!</p>
<p>70 års forbudspolitik mod cannabis har hverken mindsket danskernes forbrug eller svækket det ulovlige marked.</p>
<p>Op mod halvdelen af landets befolkning har stiftet bekendtskab med cannabis i løbet af deres liv.</p>
<p>Der er således en betydelig efterspørgsel som ikke vil forsvinde. Konsekvensen er retsforfølgelse af de danske borgere. Cannabis sælges i dag på et ulovligt marked, som alene varetages af den kriminelle underverden og er med til at finansiere bandekriminalitet.</p>
<p>Vi tror på, at legalisering er den eneste vej frem, så overskuddet fra salget kan styrke vores velfærdsstat.</p>
<p>Kom til stor folkedemo den 30. september og tilkendegiv din holdning til Regeringens forfejlede forbudspolitik.</p>
<p>Lad os sammen tage ansvar!</p>

<style>
    p {
        margin: .5em 0 1em;
    }
</style>
