---
interface Props {
	lang: string;
}

const { lang } = Astro.props;
---
{
    lang === "da"
    ?
<article lang="da">
    <p>Legalisering er den eneste løsning!</p>
    <p>70 års forbudspolitik mod cannabis har hverken mindsket danskernes forbrug eller svækket det ulovlige marked.</p>
    <p>Op mod halvdelen af landets befolkning har stiftet bekendtskab med cannabis i løbet af deres liv.</p>
    <p>Der er således en betydelig efterspørgsel som ikke vil forsvinde. Konsekvensen er retsforfølgelse af de danske borgere. Cannabis sælges i dag på et ulovligt marked, som alene varetages af den kriminelle underverden og er med til at finansiere bandekriminalitet.</p>
    <p>Vi tror på, at legalisering er den eneste vej frem, så overskuddet fra salget kan styrke vores velfærdsstat.</p>
    <p>Kom til stor folkedemo den 30. september og tilkendegiv din holdning til Regeringens forfejlede forbudspolitik.</p>
    <p>Lad os sammen tage ansvar!</p>
</article>
    :
<article lang="en">
    <p>Legalization is the only solution!</p>
    <p>70 years of prohibition policy against cannabis has neither reduced Danes' consumption nor weakened the illegal black market.</p>
    <p>Up to half of the country's population has become familiar with cannabis during their lifetime.</p>
    <p>Thus there is a significant demand that will not disappear. The consequence is prosecution of the Danish citizens. Today, cannabis is sold on an illegal market, which is only handled by the criminal underworld and helps to finance gang crime.</p>
    <p>We believe that legalization is the only way forward, so that the profit from the sale can strengthen our welfare state.</p>
    <p>Come to a large public demonstration on September 30 and state your position on the Government's failed prohibition policy.</p>
    <p>Let's take responsibility together!</p>
</article>
}

<style>
    p {
        margin: .5em 0 1em;
    }
</style>
