@font-face {
    font-family: "Gill sans extra bold condensed";
    src: url("/font/gill_sans_extra_condensed_bold.woff2") format("woff2"),
        url("/font/gill_sans_extra_condensed_bold.woff") format("woff");
}

/* :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
} */
:root {
    --theme-dark-background: #13151a;
    --theme-dark-color: white;
    --theme-light-background: #e5f7da;
    --theme-light-color: black;

    /* default theme */
    --theme-background: var(--theme-light-background);
    --theme-color: var(--theme-light-color);
}
@media (prefers-color-scheme: dark) {
    :root {
        --theme-background: var(--theme-dark-background);
        --theme-color: var(--theme-dark-color);
    }
}
html {
    font-family: "Gill sans extra bold condensed", system-ui, sans-serif;
    background: var(--theme-background);
    background-size: 224px;
}
.main {
    width: 800px;
    max-width: calc(100% - 2rem);

    margin: auto;
    padding: 1rem;

    color: var(--theme-color);
    font-size: 20px;
    line-height: 1.6;
}
p {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}
